<h1>PROFILE FOR: <%= @username %></h1>

<h2>Create Post</h2>
<%= render '/components/post_form' %>

<h2>POSTS</h2>
<% for @p in @posts %>
<div>
  <h3><%= @p.user_id %></h3>
  <p><%= @p.content %></p>
</div>
<% end %>
