guest
<nav id="nav">
  <a class="left" href="/">HANDBUILTMOTOS</a>
  <div class="right text-right">
    <ul class="inline-list">
      <li><a href="/garage-list">Garages</a></li>
      <li><a href="/garage-feed">Garage Feed</a></li>
      <li><%= link_to('Log In', new_user_session_path) %></li>
      <li><%= link_to('Sign Up', new_user_registration_path) %></li>
    </ul>
  </div>
</nav>
